.main-page{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(7, 100px);
    grid-gap: 15px;
    padding: 100px;

}
.logo{
    background-color: red;
    grid-column: 1/2;
    grid-row: 1/2;
   
}
.menu{
    background-color: blue;
    grid-column: span 3;
    grid-row: 1/2;
   
}
.main{
    grid-column: span 3;
    grid-row: 2/6;
    background-color: navy;
}
.aside{
    background-color: brown;
    grid-column: 4/5;
    grid-row: 2/6;
}
.sponsors{
    background-color: blueviolet;
    grid-column: span 4;
    grid-row: 6/7 ;
}
.footer{
    background-color: maroon;
    grid-column: span 4;
    grid-row: 7/8;
}